{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-cost" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cost">
          <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Cost Desccription</label>
                    <textarea class="form-control" name="cost_description" required="required" cols="50">{{cost_description}}</textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Cost value</label>
                    <input type="text" class="form-control" name="cost_value" value="{{cost_value}}" required="required" >
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
